.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.header {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0px;
    height: 45px;
    font-family: 'kumbh sans', sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #F3C53B;
    font-weight: 500;
}

.menu-item { /* Este qué pex ???? ------------------- ? ? ? ? ? */
    display: inline;
    margin-right: 25px;
    margin-left: 10px;
}

main {
    margin-top: 285px;
    text-align: center;
}

.actions {
    width: 15%;
    text-align: right;
    color: #F3C53B;
    font-size: 14px;
    font-weight: 1000;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: red;
}

.actions button {
    color: white;
    background-color: #F3C53B;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.intro {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;;
}

.hero-1 { /* este es el ".publish" del ejercicio Bedu */
    flex: 1;
}

.hero-1 h1 {
    font-family: 'kumbh sans', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.hero-1 h2 {
    font-family: 'Alegreya', serif;
    font-size: 22px;
    line-height: 33px;
    color: #728283;
}

.hero-1 > p {
    font-size: 22px;
    color: orange;
    line-height: 1.5; /* Aquí falta pixeles ???     ----- ???? */
    margin-bottom: 10px;
}

.newsletter > form {
    display: flex;
    margin: auto;
}

.newsletter > form p {
    color: green;
    margin-right;
}

h1 {
    font-size: 33px;
    font-style: bold;
    color: #1C3E76;
    background-color: ;
}

h2 {
    font-size: 26px;
    color: #F3C53B;
    background-color: ;
}

h3 {
    font-size: 22px;
    color: #F78D40;
}